site_name: Guide du Développeur Scientifique
site_url: https://yajeddig.github.io/Guide-du-Developpeur-Scientifique
docs_dir: docs
site_author: Younes AJEDDIG
site_description: >-
  Guide complet pour les ingénieurs, chercheurs et scientifiques qui codent.

repo_name: yajeddig/Guide-du-Developpeur-Scientifique
repo_url: https://github.com/yajeddig/Guide-du-Developpeur-Scientifique
edit_uri: edit/main/docs/

theme:
  name: material
  language: fr
  custom_dir: overrides
  logo: assets/logo.svg
  favicon: assets/favicon.ico
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: teal
      toggle:
        icon: material/weather-night
        name: Passer en mode sombre
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: teal
      toggle:
        icon: material/weather-sunny
        name: Passer en mode clair
  font:
    text: Inter
    code: JetBrains Mono
  icon:
    repo: fontawesome/brands/github
    admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/lightbulb
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/bug
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - toc.follow
    - announce.dismiss

plugins:
  - search:
      lang: fr
  - tags

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/yajeddig
      name: GitHub
  generator: false
  analytics:
    provider: google
    property: G-XXXXXXXXXX

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.tilde
  - admonition
  - pymdownx.details
  - tables
  - attr_list
  - md_in_html
  - def_list
  - footnotes
  - abbr
  - toc:
      permalink: true
      toc_depth: 3

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Accueil: index.md
  - Parcours: 0-getting_started/learning_paths.md
  - Git Basics:
    - Introduction: 1-git_basics/1-git_basics.md
    - Dépôts: 1-git_basics/2-local_remote_repositories.md
    - GitHub: 1-git_basics/3-getting_started_with_github.md
    - Branching: 1-git_basics/4-branching_strategy.md
    - Exercice: 1-git_basics/5-exercice_fil_rouge.md
    - Quiz: 1-git_basics/6-quiz_autoevaluation.md
  - Collaboration:
    - Introduction: 2-collaboration_procedure/collab_procedure.md
    - Gestion de projet: 2-collaboration_procedure/project_management.md
  - Best Practices:
    - Vue d'ensemble: 3-bests_practices/bests_practices.md
  - Tests:
    - Introduction: 4-test_validation/test_valid.md
  - Calcul Scientifique:
    - ODE: 5-scientific_technical_skills/ODE_resolution.md
    - DAE: 5-scientific_technical_skills/DAE_resolution.md
    - PDE: 5-scientific_technical_skills/PDE_resolution.md
  - Computer Science:
    - Overview: 6-computer_science/computer_science.md
